[submodule "backend/server/secret-server"]
	path = backend/server/secret-server
	url = git@github.com:biday5/biday-secret.git
[submodule "backend/server/config-server"]
	path = backend/server/config-server
	url = git@github.com:biday5/biday-config.git
